@import 'shower-ribbon'

#Cover
  h2
    margin: 30px 0px 0px
    color: #FFF
    text-align: center
    font-size: 70px

  p
    margin: 10px 0px 0px
    text-align: center
    color: #FFF
    font-style: italic
    font-size: 20px

  p a
    color: #FFF

#Picture h2
  color: #FFF

/* Code Highlight with Coderay */
.slide .code pre
  white-space: pre
  line-height: 1.5em
  tab-size: 4
  font-family: 'PT Mono',monospace

  span.line-numbers
    margin-left: -2.3em

    a:after
      content: '.'
    a
      color: #BBB
      margin-right: 0.5em


/* Fix original slides code numbers to match coderay */
.slide pre code:before
  content: counter(code) '.'
