<section class="slide cover" id="Cover">
  <div>
    <h2>Shower Presentation Engine</h2>
    <p>Brought to you by Vadim Makeev</p>
    <img src="pictures/cover.jpg" alt="">
    <!-- © John Carey, http://fiftyfootshadows.net/ -->
  </div>
</section>
