<section class="slide" id="InTheMiddle">
  <div>
    <h2>In the Middle</h2>
    <object data="pictures/semantics.svg" type="image/svg+xml" width="300" height="300" class="place middle"></object>
  </div>
</section>
