<section class="slide cover" id="Picture">
  <div>
    <header>
      <h2>Picture</h2>
    </header>
    <img src="pictures/picture.jpg" alt="">
    <!-- © Patrick H. Lauke, http://www.flickr.com/photos/redux/ -->
  </div>
</section>
