<section class="slide" id="CodeNotes">
  <div>
    <h2>Code Notes</h2>
    <pre>
      <code><mark>&lt;html</mark> lang="en-US"&gt;</code>
    </pre>
    <p class="note">May or may not crash your browser</p>
    <pre>
      <code><mark>&lt;meta</mark> charset="<mark>UTF-8</mark>"&gt;</code>
    </pre>
    <p class="note">Lock up your machine</p>
  </div>
</section>
