<section class="slide" id="InnerNavigation">
  <div>
    <h2>Inner Navigation</h2>
    <ol>
      <li class="next">This tool is provided</li>
      <li class="next">Without warranty, guarantee</li>
      <li class="next">Or much in the way of explanation
      <li class="next">Erase your hard drive.</li>
    </ol>
  </div>
</section>
