<header class="caption">
  <h1><%= slide_options.presentation_title %></h1>
  <p><%= slide_options.presentation_description %></p>
</header>

<% slides("slides").each do |slide| %>
  <% if ['.md', '.mkd', '.markdown'].include? File.extname(slide) %>
    <section class="slide"><div>
      <%= partial slide %>
    </div></section>
  <% else %>
    <%= partial slide %>
  <% end %>
<% end %>
